@model IEnumerable<MyResume.Models.Project>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Projects</h1>

<br />
<div class="row row-cols-3">
@foreach (var item in Model) {
        <div class="col-4">
            <div class="card list_card">
              <img src="@Html.DisplayFor(modelItem => item.Pictrue)" class="card-img-top ph" alt="...">
              <div class="card-body tc">
                <h5 class="card-title"><a asp-action="Details" asp-route-id="@item.Id"> @Html.DisplayFor(modelItem => item.Title)</a></h5>
              </div>
            </div>
        </div>
      }
      </div>