@{
    ViewData["Title"] = "About Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <div class="mypic">
        <img class="avatar" src="https://embed.pixiv.net/decorate.php?illust_id=54505353" />
        <p class="name">I'm Bruce....</p>
    </div>
    <p>
        My name is Bruce an IT student in SIT. I am pretty good at coding and also enjoy to do it.
    </p>

</div>