
@model IEnumerable<MyResume.Models.Portfolio>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Portfolios</h1>

<br />

<div class="card">
  <div class="card-body">
    Description.......................Description.......................Description.......................Description.......................Description.......................Description.......................
  </div>
</div>

@foreach (var item in Model) {
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="@Html.DisplayFor(modelItem => item.Picture)" class="img-fluid rounded-start" alt="@Html.DisplayFor(modelItem => item.Title)">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h2 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h2>
            <p class="card-text">@Html.DisplayFor(modelItem => item.Body)</p>
          </div>
        </div>
      </div>
    </div>
}